footer{
    background: red;
    padding: 2% 0;
    .footer-con{
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        ul{
            display: flex;
            flex-direction: column;
            line-height: 3;
            width: 19%;
            p{
                font-size: $fs-1;
                color: white;
                margin-bottom: 2%;
            }
            li{
                list-style: none;
                display: flex;

                a{
                    text-decoration: none;
                    color: white;
                    font-size: calc($fs-1 - 0.3vw);
                }
            }
        }
    }
}