@media only screen and (max-width: 800px) {
  body {
    header {
      padding-top: 2%;
      nav {
        width: 100%;
        padding: 1% 3%;

        .logo {
          width: 35%;
        }
        ul {
          display: none;
        }
        .fa-bars-staggered {
          display: block;
          font-size: 7vw;
          color: white;
        }
      }
    }
    // ================= main ================
    main {
      position: relative;
      // ===================== baner =================
      .baner {
        .des {
          display: none;
        }
        .mo {
          display: block;
        }
        .baner-text {
          width: 100%;
          height: 45%;
          justify-content: center;
          align-items: flex-end;
          .baner-text-con {
            width: 80%;
            align-items: center;
            text-align: center;
            p {
              font-size: $fs-p-mo;
            }
            h1 {
              font-size: $fs-h1-mo;
            }
            button {
              font-size: $fs-p-mo;
            }
          }
        }
      }
      // ======================= whats new ================
      .what-new {
        // padding-bottom: 35%;
        .video-anchor {
          display: none;
        }
        .what-new-con {
          width: 100%;
          position: static;
          // ========= top
          .top {
            width: 100%;
            background-color: $red;
            padding: 5% 2%;
            p {
              font-size: $fs-p-mo;
              small {
                font-size: calc($fs-h1 + 0.4vw);
              }
              &:first-child {
                &::after {
                  bottom: -6%;
                  width: 10vw;
                  height: 0.4vw;
                  background-color: white;
                }
              }
              &:last-child {
                color: white;
                &::after {
                  bottom: -6%;
                  width: 8vw;
                  height: 0.4vw;
                  background-color: white;
                }
              }
            }
            h2 {
              font-size: $fs-h1-mo;
              small {
                font-size: calc($fs-h1 + 1vw);
              }
              &::after {
                width: 20vw;
                height: 0.4vw;
                background-color: white;
              }
            }
          }
          // ================== MID =================
          .mid {
            width: 100%;
            margin: 1% 0;
            p {
              font-size: $fs-p-mo;
            }
          }
          // =============== bottom =============
          .btm {
            overflow-x: hidden;
            overflow-y: scroll;
            .btm-con {
              white-space: normal;
              width: 100%;
              flex-wrap: wrap;
              justify-content: space-around;
              span {
                margin-bottom: 3%;
                width: 40%;
                .text {
                  height: 45%;
                  p {
                    font-size: $fs-p-mo;
                  }
                  button {
                    font-size: $fs-1-mo;
                  }
                }
              }
            }
          }
        }
      }
      // ====================== products ===============
      .products {
        .products-con {
          width: 100%;
          padding: 0 3%;
          .slides {
            width: 60%;
            .slides-con {
              white-space: nowrap;
              width: 450%;
              div {
                width: 70vw;
                h2 {
                  font-size: $fs-p-mo;
                }
              }
            }
          }
          .products-text {
            div {
              p {
                font-size: $fs-p-mo;
              }
              h1 {
                font-size: $fs-h1-mo;
              }
            }
            span {
              width: 50%;
              i {
                font-size: $fs-p-mo;
              }
            }
          }
        }
        &::after {
          padding: 10% 0;
        }
      }
      // ================ Social media ==============
      .social {
        width: 100%;
        padding: 4% 2%;
        h2 {
          font-size: $fs-p-mo;
        }
        .social-icons {
          width: 50%;
          i {
            font-size: $fs-p-mo;
          }
        }
      }
      // ============== newsLetter =============
      .newsLetter {
        padding: 4% 2%;
        .newLetterCon {
          width: 100%;
          p {
            font-size: $fs-p-mo;
          }
          button {
            font-size: $fs-1-mo;
          }
        }
      }
      // ============================================ Enabled Drop Menu =======
      #drop {
        display: block;
        position: fixed;
        top: 0;
         right: 0;
        // left: 0;
        bottom: 0;
        z-index: 6;
        width: 100%;
        background-color: $red;
        overflow: scroll;
        // display: none;
        .top-section {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 2.5% 3%;
          .logo {
            width: 35%;
            a {
              display: flex;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
          .fa-xmark {
            font-size: 7vw;
            color: white;
          }
        }
        .drop-container {
          background-color: $red;
          padding: 0%;
          ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            li{
                list-style: none;
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-bottom: 10%;
                padding: 3% 0;
                
                a{
                    display: flex;
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                    font-size: $fs-h1-mo;
                    width: 100%;
                }
                i{
                    color: white;
                    font-size: $fs-h1-mo;
                }
                .list{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 80%;
                }
            //  ========================== info ================
            #info2{
                animation: drop1 2s;
                @keyframes drop1 {
                    from{
                        height: 10vw;
                        // opacity: 0;
                    }
                    to{
                        height: 36vw;
                        // opacity: 1;
                    }
                }

            }
            .info{
                background-color:white;
                width: 100%;
                padding: 2%;
                animation: listDown 2s;
                 overflow: hidden;
                @keyframes listDown {
                    from{
                        height: 10vw;
                        // opacity: 0;
                    }
                    to{
                        height: 100vw;
                        // opacity: 1;

                    }
                }
                .info-container{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 70%;
                    margin: 0 auto;
                    // ===============================================
                    // ====================== PICS One ===============
                    .pic1{
                        background-image: url(../images/drop/1.webp);
                    }
                    .pic2{
                        background-image: url(../images/drop/2.webp);
                    }
                    .pic3{
                        background-image: url(../images/drop/3.webp);
                    }
                    .pic4{
                        background-image: url(../images/drop/4.webp);
                    }
                    .pic5{
                        background-image: url(../images/drop/5.webp);
                    }
                    .pic6{
                        background-image: url(../images/drop/6.webp);
                    }
                    // ============== Pics Two ===========
                    .pic2-1{
                        background-image: url(../images/drop/2.1.webp);
                    }
                    .pic2-2{
                        background-image: url(../images/drop/2.2.webp);
                    }
                    // ============ Pics Three ============
                    .pic3-1{
                        background-image: url(../images/drop/3.1.jpg);
                    }
                    .redBox{
                        background-color: $red;
                    }
                    .pic3-2{
                        background-image: url(../images/drop/3.2.webp);
                    }
                    .pic3-3{
                        background-image: url(../images/drop/3.3.webp);
                    }
                    .pic3-4{
                        background-image: url(../images/drop/3.4.webp);
                    }
                    .pic3-5{
                        background-image: url(../images/drop/3.5.webp);
                    }
                    // ======================= Pics Four ============
                    .pic4-1{
                        background-image: url(../images/drop/4.1.png);
                        p{
                            color: brown;
                        }
                    }
                    .pic4-2{
                        background-image: url(../images/drop/4.2.webp);
                        p{
                            color: brown;
                        }
                    }
                    .pic4-3{
                        background-image: url(../images/drop/4.3.webp);
                        p{
                            color: brown;
                        }
                    }
                    .pic4-4{
                        background-image: url(../images/drop/4.4.webp);
                        p{
                            color: brown;
                        }
                    }
                    .pic4-5{
                        background-image: url(../images/drop/4.5.webp);
                        p{
                            color: brown;
                        }
                    }
                    .pic4-6{
                        background-image: url(../images/drop/4.6.webp);
                        p{
                            color: brown;
                        }
                    }
                    // =============================== DONE PICS ========
                    // ===================================================
                    span{
                        width: 30vw;
                        position: relative;
                        margin-bottom: 3%;
                        border: 3px rgb(17, 7, 7) solid;
                        height: 30vw;
                        border-radius: 20px;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        i{
                            position: absolute;
                            top: 5%;
                            left: 5%;
                            z-index: 2;
                            color: red;
                            background-color: white;
                            padding: 2% 5%;
                            border-radius: 50%;
                            font-size: $fs-p-mo;
                        }
                        a{
                            display: flex;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        p{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            padding: 6%;
                            font-size: $fs-1-mo;
                            color: white;
                            font-weight: bold;
                        }
                    }
                }
            }
            }
          }
          
        }
      }
    }
    //   ===================== FOOTER ==================
    footer {
      padding: 2%;
      .footer-con {
        width: 100%;
        flex-wrap: wrap;
        ul {
          width: 49%;
          margin-bottom: 3%;
          p {
            font-size: $fs-1-mo;
          }
          li {
            a {
              font-size: calc($fs-1-mo - 0.3vw);
            }
          }
        }
      }
    }
    .pop {
      width: 70%;
      padding: 10%;
      .pop-btn {
        font-size: $fs-p-mo;
        padding: 4% 6%;
        .fa-circle-xmark {
          font-size: $fs-h1-mo;
          left: -6%;
        }
      }
    }
  }
//   ================================= Keyframes =================
  @keyframes dropUp {
      from{
          height: 100vw;
      }
      to{
          height: 0;
      }
  }
  @keyframes dropUp1 {
      from{
          height: 36vw;
      }
      to{
          height: 0;
      }
  }
  @keyframes menuOpen {
      from{
         transform: translateX(100%);
      }
      to{
        transform: translateX(0%);
    }
  }
  @keyframes menuClose {
    from{
        transform: translateX(0%);
     }
     to{
       transform: translateX(100%);
   }
  }
}
